*{
   margin: 0;
   padding: 0;
   



}
body{
    padding: 30px;
}
#heading{
        display: flex;
        justify-content: center;
        align-items: center;
}
#container{
    display: flex;
    justify-content: space-between;
}
#input {
    display: flex;
    flex-direction: column;
}
